@import 'defaults.scss';

:host {
  a {
    text-decoration: none;
    display: contents;
  }
  .m-activity__flag--boosted {
    cursor: pointer;
  }

  .m-activityMetrics__views {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
    font-size: 14px;
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}
