<div class="m-wireCreator__form m-formWrapper">
  <!-- ---------------------------------- -->
  <!-- CURRENCY TABS (NON-UPGRADES) -->
  <!-- ---------------------------------- -->
  <div
    class="m-wireCreatorForm__tabs m-tabs__container"
    *ngIf="!(service.isUpgrade$ | async)"
  >
    <div class="m-tabs__tab" *ngIf="(service.currencyOptions$ | async).tokens">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'tokens'"
        (click)="setType('tokens')"
        i18n="currency|@@COMMON__TOKENS"
        >Tokens</a
      >
    </div>

    <div class="m-tabs__tab" *ngIf="(service.currencyOptions$ | async).usd">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'usd'"
        (click)="setType('usd')"
        i18n="currency|@@COMMON__USD"
        >USD</a
      >
    </div>

    <div class="m-tabs__tab" *ngIf="(service.currencyOptions$ | async).eth">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'eth'"
        (click)="setType('eth')"
        i18n="currency|@@COMMON__ETH"
        >ETH</a
      >
    </div>

    <div class="m-tabs__tab" *ngIf="(service.currencyOptions$ | async).btc">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'btc'"
        (click)="setType('btc')"
        i18ni18n="currency|@@COMMON__BTC"
        >BTC</a
      >
    </div>
  </div>

  <!-- ---------------------------------- -->
  <!-- FORM FIELDSET -->
  <!-- ---------------------------------- -->
  <div class="m-wireCreatorForm__fieldset">
    <!-- ---------------------------------- -->
    <!-- CURRENCY TOGGLE (UPGRADES) -->
    <!-- ---------------------------------- -->
    <div class="m-wireCreatorForm__fields" *ngIf="service.isUpgrade$ | async">
      <div class="m-wireCreatorForm__field">
        <div class="m-wireCreatorForm__field">
          <div class="m-wireCreatorForm__toggleContainer">
            <span
              class="m-wireCreatorForm__toggleLabel"
              i18n="currency|@@COMMON__USD"
              >USD</span
            >

            <span class="m-wireCreatorForm__toggle"
              ><m-toggle
                leftValue="usd"
                rightValue="tokens"
                [mModel]="service.type$ | async"
                (mModelChange)="service.setType($event)"
              ></m-toggle
            ></span>

            <span
              class="m-wireCreatorForm__toggleLabel"
              i18n="currency|@@COMMON__TOKENS"
              >Tokens</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------- -->
    <!-- TOGGLE: UPGRADE INTERVAL -->
    <!-- ---------------------------------- -->
    <div class="m-wireCreatorForm__fields" *ngIf="service.isUpgrade$ | async">
      <div class="m-wireCreatorForm__field">
        <div class="m-wireCreatorForm__intervalToggleContainer">
          <div
            class="m-wireCreatorForm__intervalOption"
            [class.m-wireCreatorForm__intervalOption--selected]="
              (service.upgradeInterval$ | async) === 'yearly'
            "
            (click)="service.setUpgradeInterval('yearly')"
          >
            <div i18n="@@COMMON__ANNUALLY">Annually</div>
            <div>
              <ng-container *ngIf="(service.type$ | async) === 'usd'"
                >$</ng-container
              ><span>{{
                (service.upgradePricingOptions$ | async)?.yearly / 12
              }}</span>
              <span
                ><ng-container
                  *ngIf="(service.type$ | async) === 'tokens'"
                  i18n="currency|@@COMMON__TOKENS"
                >
                  tokens</ng-container
                >
                /
                <ng-container i18n="@@COMMON__MONTH">month</ng-container></span
              >
            </div>
          </div>
          <div
            class="m-wireCreatorForm__intervalOption"
            (click)="service.setUpgradeInterval('monthly')"
            [class.m-wireCreatorForm__intervalOption--selected]="
              (service.upgradeInterval$ | async) === 'monthly'
            "
            *ngIf="(service.type$ | async) === 'usd'"
          >
            <div i18n="@@COMMON__MONTHLY">Monthly</div>
            <div>
              <ng-container *ngIf="(service.type$ | async) === 'usd'"
                >$</ng-container
              >
              <span>{{
                (service.upgradePricingOptions$ | async)?.monthly
              }}</span
              ><span
                ><ng-container
                  *ngIf="(service.type$ | async) === 'tokens'"
                  i18n="currency|@@COMMON__TOKENS"
                >
                  tokens</ng-container
                >
                /
                <ng-container i18n="@@COMMON__MONTH">month</ng-container></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------- -->
    <!-- INPUT: AMOUNT -->
    <!-- ---------------------------------- -->
    <div
      class="m-wireCreatorForm__fields"
      *ngIf="!(service.isUpgrade$ | async)"
    >
      <div class="m-wireCreatorForm__field">
        <label
          for="m-wireCreatorForm__amount"
          class="m-wireCreatorForm__label"
          [ngSwitch]="service.type$ | async"
        >
          <ng-container
            *ngSwitchCase="'tokens'"
            i18n="currency|@@COMMON__TOKENS"
            >Tokens</ng-container
          >
          <ng-container *ngSwitchCase="'usd'" i18n="currency|@@COMMON__USD"
            >USD</ng-container
          >
          <ng-container *ngSwitchCase="'eth'" i18n="currency|@@COMMON__ETHER"
            >Ether</ng-container
          >
          <ng-container *ngSwitchCase="'btc'" i18n="currency|@@COMMON__Bitcoin"
            >Bitcoin</ng-container
          >
        </label>

        <input
          type="text"
          id="m-wireCreatorForm__amount"
          [ngModel]="service.amount$ | async | number: '1.0'"
          (ngModelChange)="setAmount($event)"
          placeholder="0"
          data-cy="wire-v2-amount"
        />
      </div>
    </div>
    <div class="m-wireCreatorForm__fields">
      <!--------------------------->
      <!--IF CURRENCY : TOKENS-->
      <!--------------------------->
      <ng-container *ngIf="(service.type$ | async) === 'tokens'">
        <!--------------------------->
        <!--TOGGLE : OFFCHAIN/ONCHAIN -->
        <!--------------------------->
        <ng-container *ngIf="!(service.isUpgrade$ | async)">
          <div class="m-wireCreatorForm__field">
            <div
              class="m-wireCreatorForm__label"
              i18n="@@WIRE_CREATOR_FORM__WALLET_TYPE"
            >
              Wallet Type
            </div>

            <div class="m-wireCreatorForm__toggleContainer">
              <span
                class="m-wireCreatorForm__toggleLabel"
                i18n="@@COMMON__ONCHAIN"
                >On-chain</span
              >

              <span class="m-wireCreatorForm__toggle"
                ><m-toggle
                  leftValue="onchain"
                  rightValue="offchain"
                  [mModel]="service.tokenType$ | async"
                  (mModelChange)="service.setTokenType($event)"
                ></m-toggle
              ></span>

              <span
                class="m-wireCreatorForm__toggleLabel"
                i18n="@@COMMON__OFFCHAIN"
                >Off-chain</span
              >
            </div>
          </div>
        </ng-container>

        <!--------------------------->
        <!--TOKEN WALLET BALANCE-->
        <!--------------------------->
        <div class="m-wireCreatorForm__field">
          <div
            class="m-wireCreatorForm__label"
            i18n="@@WIRE_CREATOR_FORM__WALLET_BALANCE"
          >
            Wallet Balance
          </div>

          <span
            class="m-wireCreatorForm__value"
            *ngIf="
              service.wallet.wallet$
                | asyncState: { loaded: false }
                | async as wallet
            "
          >
            <ng-template [ngIf]="wallet.pending" [ngIfElse]="walletValue">
              ...
            </ng-template>

            <ng-template #walletValue>
              <ng-container *ngIf="(service.tokenType$ | async) === 'offchain'">
                {{ wallet.value.offchain.balance | number: '1.0-3' }}
              </ng-container>

              <ng-container *ngIf="(service.tokenType$ | async) === 'onchain'">
                {{ wallet.value.onchain.balance | number: '1.0-3' }}
              </ng-container>
              <a
                class="m-wireCreatorForm__topUpLink"
                *ngIf="service.isUpgrade$ | async"
                routerLink="/token"
                target="_blank"
                i18n="@@WIRE_CREATOR_FORM__TOP_UP_WALLET"
                >Top-up wallet</a
              >
            </ng-template>
          </span>
        </div>
      </ng-container>
      <!--  End of type === tokens -->
      <!--------------------------->
      <!-- IF CURRENCY: USD -->
      <!--------------------------->
      <ng-container *ngIf="(service.type$ | async) === 'usd'">
        <!--------------------------->
        <!--SELECT BANK ACCOUNT/CARD-->
        <!--------------------------->
        <div class="m-wireCreatorForm__field">
          <div
            class="m-wireCreatorForm__label"
            i18n="@@WIRE_CREATOR_FORM__PAYMENT_METHOD"
          >
            Payment Method
          </div>

          <m-payments__selectCard
            (selected)="service.setUsdPaymentMethodId($event)"
          ></m-payments__selectCard>
        </div>
      </ng-container>
      <!--  End of type === usd -->
      <!--------------------------->
      <!--CHECKBOX : RECURRING PAYMENTS-->
      <!--------------------------->
      <div
        *ngIf="
          service.canRecur(service.type$ | async, service.tokenType$ | async) &&
          !(service.isUpgrade$ | async)
        "
        class="m-wireCreatorForm__field m-wireCreatorForm__field--recurring"
      >
        <label
          for="m-wireCreatorForm__recurring"
          class="m-wireCreatorForm__label"
          i18n="@@WIRE_CREATOR_FORM__REPEAT_MONTHLY_PAYMENT"
          >Repeat Payment Monthly</label
        >
        <label
          for="m-wireCreatorForm__recurring"
          class="m-form__customInputWrapper__checkbox"
          [class.m-wireCreatorFormRecurring--usdMarginFix]="
            (service.type$ | async) === 'usd'
          "
        >
          <input
            type="checkbox"
            id="m-wireCreatorForm__recurring"
            class="form-control"
            [ngModel]="service.recurring$ | async"
            (ngModelChange)="service.setRecurring($event)"
          />
          <span class="m-form__customInput__checkbox"></span>

          <span i18n="action|@@WIRE_CREATOR_FORM__REPEAT">Repeat</span>
          <m-tooltip class="m-wireCreatorFormRecurring__tooltip">
            <span m-tooltip--anchor>?</span>
            <ng-container i18n="@@WIRE_CREATOR_FORM__MONTHLY_PAYMENT_INFO">
              Monthly recurrent payments may be cancelled at any point within
              your wallet.
            </ng-container>
          </m-tooltip>
        </label>
      </div>
    </div>
    <!--------------------------->
    <!-- DISCLAIMER : MONETIZATION TERMS -->
    <!--------------------------->
    <ng-container
      *ngIf="service.isUpgrade$ | async"
      i18n="@@WIRE_CREATOR_FORM__TERMS_DISCLAIMER"
    >
      <div class="m-wireCreatorForm__fields">
        <div class="m-wireCreatorForm__field m-wireCreatorForm__label">
          By purchasing
          <ng-container *ngIf="(service.upgradeType$ | async) === 'plus'"
            >Minds+</ng-container
          >
          <ng-container *ngIf="(service.upgradeType$ | async) === 'pro'">
            Pro</ng-container
          >
          you agree to the
          <a routerLink="/p/monetization-terms" target="_blank"
            >Minds Monetization Terms</a
          >.
        </div>
      </div>
    </ng-container>
  </div>
</div>
