@import 'defaults.scss';

:host {
  .m-languageBar__wrapper {
    display: flex;

    .m-languageBar__currentLanguage {
      display: flex;
      justify-content: center;
      align-items: center;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }

      span {
        padding: 0 20px 0 10px;
        white-space: nowrap;
      }
    }
    .m-languageBar__languageOptions {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      position: relative;

      @media screen and (max-width: $m-grid-max-mobile) {
        display: none;
      }

      &::after {
        @include m-theme() {
          background: linear-gradient(
            90deg,
            transparent,
            themed($m-marketing-bg-gradient-start),
            themed($m-marketing-bg-gradient-start)
          );
        }
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        content: '';
        position: absolute;
      }

      .m-languageBar__languageOption {
        line-height: 2;
        cursor: pointer;
        text-decoration: underline;
        margin-right: 20px;
        text-align: center;
        text-transform: capitalize;

        @include m-theme() {
          color: themed($m-link);
        }

        &:hover {
          text-decoration: none;
          @include m-theme() {
            color: themed($m-link--hover);
          }
        }
      }
    }

    .m-languageBar__squareButtonWrapper {
      display: inline-flex;
      align-items: center;

      .m-languageBar__squareButton {
        height: 25px;
        width: 25px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;

        @include m-theme() {
          border: 1px solid themed($m-borderColor--primary);
          background-color: themed($m-white);
          color: themed($m-textColor--secondary);
        }
      }
    }
  }
}
