<div class="m-composerPopup__body m-composer__monetize">
  <div class="m-composerPopup__content">
    <h3 class="m-composerPopup__title" i18n="@@COMMON__MONETIZE">Monetize</h3>
    <div class="m-tabs__container" *ngIf="!isEditingPlus">
      <div class="m-tabs__tab" *mIfFeature="'plus-2020'">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': type === 'plus' }"
          (click)="type = 'plus'"
          data-cy="monetize-membership-plus-tab"
          >Minds+</a
        >
      </div>
      <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': type === 'membership' }"
          (click)="type = 'membership'"
          data-cy="monetize-membership-membership-tab"
          >Memberships</a
        >
      </div>
      <!-- <div class="m-tabs__tab">
        <a
          [ngClass]="{ 'm-tabs__tab--selected': type === 'custom' }"
          (click)="type = 'custom'"
          data-cy="monetize-membership-custom-tab"
          >Custom</a
        >
      </div> -->
    </div>
  </div>
  <m-composer__monetizeV2__plus
    (dismissIntent)="dismissIntent.emit()"
    *ngIf="type === 'plus'"
    [isEditingPlus]="isEditingPlus"
  ></m-composer__monetizeV2__plus>
  <m-composer__monetizeV2__memberships
    (dismissIntent)="dismissIntent.emit()"
    *ngIf="type === 'membership'"
  ></m-composer__monetizeV2__memberships>
  <m-composer__monetizeV2__custom
    (dismissIntent)="dismissIntent.emit()"
    *ngIf="type === 'custom'"
  ></m-composer__monetizeV2__custom>
</div>
