<div class="m-pageLayout__container m-channel__feed">
  <div class="m-channelFeed__list" m-pageLayout__pane="main">
    <m-composer *ngIf="service.isOwner$ | async"></m-composer>
    <m-feedFilter
      class="m-channelFeedList__filter"
      [options]="['type']"
      [type]="feed.type$ | async"
      (typeChange)="onTypeChange($event)"
    >
      <ng-container *ngIf="service.isOwner$">
        <a
          *ngIf="feed.scheduledCount$ | async as scheduledCount"
          class="m-channelFeedListFilter__scheduled"
          [routerLink]="['/', service.username$ | async, 'scheduled']"
        >
          Scheduled <strong>{{ scheduledCount }}</strong>
        </a>
      </ng-container>
    </m-feedFilter>

    <div class="m-channelFeedList__entities">
      <m-newsfeed__entity
        *ngFor="let entity of feed.service.feed | async; let i = index"
        [entity]="entity | async"
        [slot]="i + 1"
        (deleted)="feed.onDelete($event)"
      ></m-newsfeed__entity>

      <infinite-scroll
        distance="25%"
        (load)="feed.loadNext()"
        [moreData]="feed.service.hasMore | async"
        [inProgress]="feed.service.inProgress | async"
      ></infinite-scroll>
    </div>
  </div>

  <div class="m-channelFeed__sidebar" m-pageLayout__pane="right">
    <div class="m-pageLayoutPane__inner">
      <m-channelAbout__brief></m-channelAbout__brief>
      <ng-container *mIfBrowser>
        <ng-container *mIfFeature="'paywall-2020'; else wireRewardsBrief">
          <m-channelShop__lazy
            component="m-channelShop__brief"
          ></m-channelShop__lazy>
        </ng-container>

        <ng-template #wireRewardsBrief>
          <m-channelShop__lazy
            component="m-channelShop__briefWireRewards"
          ></m-channelShop__lazy>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
