<div
  class="m-channel__content"
  [class.m-channelContent--unavailable]="content.state$ | async"
  [ngSwitch]="content.state$ | async"
>
  <ng-template [ngSwitchCase]="'pending'">
    <div class="m-channelContent__loading">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="'not-found'">
    <div class="m-channelContent__wrapper">
      <i class="m-channelContent__icon material-icons">error_outline</i>
      <h3
        class="m-channelContent__primaryText"
        i18n="@@CHANNEL_CONTENT__SORRY_CHANNEL_DOES_NOT_EXIST"
      >
        Sorry, this channel doesn't appear to exist
      </h3>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="'require-login'">
    <div class="m-channelContent__wrapper">
      <i class="m-channelContent__icon material-icons">error_outline</i>
      <h3
        class="m-channelContent__primaryText"
        i18n="@@CHANNEL_CONTENT__SORRY_CHANNEL_DOES_NOT_EXIST"
      >
        Sorry, you need to be logged in to view this channel
      </h3>
    </div>
  </ng-template>

  <ng-container *ngIf="!session.isAdmin()">
    <ng-template [ngSwitchCase]="'banned'">
      <div class="m-channelContent__wrapper">
        <i class="m-channelContent__icon material-icons">not_interested</i>

        <h3
          class="m-channelContent__primaryText"
          i18n="@@CHANNEL_CONTENT__ACCOUNT_BANNED"
        >
          Account banned
        </h3>
        <span
          class="m-channelContent__secondaryText"
          i18n="@@CHANNEL_CONTENT__ACCOUNT_BANNED"
        >
          This account has been banned for violating the
          <a routerLink="/content-policy">Minds content policy</a>
        </span>
      </div>
    </ng-template>
  </ng-container>

  <ng-template [ngSwitchCase]="'disabled'">
    <div class="m-channelContent__wrapper">
      <i class="m-channelContent__icon material-icons">not_interested</i>
      <h3
        class="m-channelContent__primaryText"
        i18n="@@CHANNEL_CONTENT__ACCOUNT_DISABLED"
      >
        This channel has been disabled
      </h3>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="'blocked'">
    <div class="m-channelContent__wrapper">
      <i class="m-channelContent__icon material-icons">block</i>
      <h3
        class="m-channelContent__primaryText"
        i18n="@@CHANNEL_CONTENT__BLOCKED_CHANNEL"
      >
        You have blocked this channel
      </h3>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="'nsfw'">
    <div class="m-channelContent__wrapper">
      <i class="m-channelContent__icon material-icons">error_outline</i>
      <h3
        class="m-channelContent__primaryText"
        i18n="@@CHANNEL_CONTENT__CHANNEL_NSFW"
      >
        This channel is NSFW
      </h3>
      <button
        class="m-channelContent__confirmButton"
        (click)="content.forceNsfwContent$.next(true)"
        i18n="@@CHANNEL_CONTENT__I_AM_OVER_18"
      >
        I am 18 or over
      </button>
    </div>
  </ng-template>

  <ng-template ngSwitchDefault>
    <ng-content></ng-content>
  </ng-template>
</div>
