<m-marketing
  class="m-aux__marketing m-aux__marketing--hasHero"
  [useFullWidth]="false"
>
  <div class="m-marketing__main">
    <div class="m-aux__hero">
      <div class="m-aux__heroInner">
        <h1>Canary</h1>
        <h3>Receive the latest Minds features before everyone else</h3>
        <m-shadowboxSubmitButton
          (click)="user.canary ? turnOff() : turnOn()"
          (mouseenter)="buttonHovering = true"
          (mouseleave)="buttonHovering = false"
          [saving]="inProgress"
        >
          <ng-container *ngIf="!user.canary">
            Join
          </ng-container>
          <ng-container *ngIf="user.canary">
            {{ buttonHovering ? '  Disable  ' : 'Enabled' }}
          </ng-container>
        </m-shadowboxSubmitButton>
      </div>
    </div>
    <p>
      In the early 20th century, coal miners would send canaries into the mines
      to signal early warnings for obstacles ahead. By turning on Canary mode,
      you can help test our newest features so we can work out any issues before
      rolling them out to everyone.
    </p>
    <a
      class="m-canary__groupLink"
      routerLink="/groups/profile/1003662081932754944/feed"
    >
      See the Canaries group
    </a>
    <h2>Latest Experiments</h2>
    <ul class="m-canaryExperiments__list">
      <li>
        Upgrade to Angular 9 - 5th June 2020
        <a href="https://gitlab.com/minds/front/-/merge_requests/981"
          >(front!918)</a
        >
      </li>
    </ul>
  </div>
</m-marketing>
