$activity-padding-lr: 21px;

m-activity {
  display: block;
  position: relative;
  box-sizing: border-box;

  &,
  &.m-border {
    border-radius: $m-borderRadius;
    box-shadow: 0 $m-boxShadowOffset $m-boxShadowBlur rgba(0, 0, 0, 0.05);
  }

  @include m-theme() {
    background: themed($m-bgColor--secondary);
  }

  .m-comment .minds-avatar {
    @include m-theme() {
      background: themed($m-bgColor--secondary);
    }
  }
}

.m-activity--fixedHeight {
  height: 750px;
  display: flex;
  flex-direction: column;
}

.m-activity--fixedHeightContainer {
  height: 100%;
  width: 100%;
}

.m-activity--boost {
  @include m-theme() {
    border-color: themed($m-blue);
  }
}

.m-activity__flag {
  padding: 4px 8px;
  border-radius: 26px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  cursor: default;
  text-decoration: none;

  > i,
  > span > a > span,
  > a > i {
    line-height: 16px;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    display: flex;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  &:has(& > span) i {
    margin-right: 5px;
  }

  > span,
  > a > span {
    @media screen and (max-width: $min-tablet) {
      display: none;
    }
  }

  @include m-theme() {
    border: 1px solid themed($m-borderColor--primary);
    background-color: unset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    color: themed($m-textColor--secondary);
  }
}
.m-activity__flag--permaweb,
.m-activity__flag--pinned,
.m-activity__flag--boosted {
  i {
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  svg {
    @include m-theme() {
      fill: themed(m-textColor--secondary);
    }
  }

  i,
  svg {
    font-size: 18px;
    @media screen and (max-width: $min-tablet) {
      margin-right: 4px;
    }
  }
}
@media screen and (max-width: $max-mobile) {
  m-channel--badges {
    /* prevent badges from shown behind right container */
    overflow: visible !important;
  }
}
