<ng-container *ngIf="!inProgress; else inProgressSpinner">
  <div *ngIf="!active; else cancelButton">
    <div class="m-plusSubscriptionPlan__toggleContainer">
      <div class="m-plusSubscriptionPlan__toggle">
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__YEARLY">Yearly</span>
        <span
          ><m-toggle
            [mModel]="interval"
            (mModelChange)="setInterval($event)"
            leftValue="yearly"
            rightValue="monthly"
          ></m-toggle
        ></span>
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__MONTHLY">Monthly</span>
      </div>

      <div class="m-plusSubscriptionPlan__toggle">
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__USD">USD</span>
        <span
          ><m-toggle
            [mModel]="currency"
            (mModelChange)="setCurrency($event)"
            leftValue="usd"
            rightValue="tokens"
          ></m-toggle
        ></span>
        <span i18n="@@PLUS_SUBSCRIPTION_OPTION__TOKENS">Tokens</span>
      </div>
    </div>

    <div class="m-plusSubscriptionPlan__pricing">
      <span
        class="m-plusSubscriptionPlanPricing__amount"
        i18n="@@PLUS_SUBSCRIPTION__PER_MONTH"
      >
        <span>{{ pricing.amount }}</span> per month
      </span>

      <span
        class="m-plusSubscriptionPlanPricing__offer"
        *ngIf="pricing.offerFrom"
        i18n="@@PLUS_SUBSCRIPTION__PER_MONTH"
      >
        <span>{{ pricing.offerFrom }}</span> per month
      </span>
    </div>

    <div>
      <button
        class="mf-button mf-button--alt"
        [disabled]="inProgress || criticalError"
        (click)="enable()"
        i18n="@@PLUS_SUBSCRIPTION__UPGRADE_TO_PLUS"
      >
        Upgrade to Minds+
      </button>
    </div>
  </div>

  <ng-template #cancelButton>
    <div>
      <button
        class="mf-button mf-button--destructive"
        [disabled]="!canBeCancelled || inProgress || criticalError"
        (click)="disable()"
        i18n="@@PLUS_SUBSCRIPTION__CANCEL_PLUS"
      >
        Cancel Minds+
      </button>
    </div>
  </ng-template>
</ng-container>

<ng-template #inProgressSpinner>
  <div class="m-plusSubscription__inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>
</ng-template>
