@import 'defaults.scss';

:host {
  display: block;
  width: 100%;
  padding: 16px 0;

  .m-issuesReport__container {
    margin: 0 auto;
    max-width: 600px;
    margin: auto;
    padding: 16px;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    h2 {
      margin: 0;
      margin-bottom: 16px;
      font-weight: 600;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    p {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  textarea {
    min-height: 100px;
  }

  input,
  textarea {
    @include m-theme() {
      background-color: themed($m-white) !important;
      color: themed($m-textColor--primary) !important;
    }
  }

  m-shadowboxSubmitButton {
  }
}
